#title {
    width: 100%;
}

body {
    background-color: #424242;
}

#icon {
    width: 200pt;
}

/* Scrollbar Background */
::-webkit-scrollbar {
    inset: 0 0 6pt;
    width: 12px;
    background-color: #212121;
    transition: all 250 ease;
}

/*Scrollbar button*/
::-webkit-scrollbar-thumb {
    background-color: #4db6ac;
}