/* Swipeable tabs fix */
.tabs-content.carousel.carousel-slider .carousel-item.active {
    position: relative;
}

.tabs-content.carousel.carousel-slider {
    height: auto !important;
}

.thead-border {
    border-bottom: 2pt;
    border-bottom-style: solid;
    border-bottom-color: #644d6c;
}

/* Fixed position of tabbar at top */
#tabRow {
    position: fixed;
    top: 0;
    z-index: 200;
    padding: 0;
    left: 0;
}

/* Stretch width of tabbar to complete window */
#tabRow ul {
    margin: 0;
}

body .row {
    padding-top: 60pt;
}

/* Border around tables */
.tableContainer {
    border: 1pt;
    border-color: #e0e0e0;
    border-style: solid;
    padding: 20pt;
}

/* Scrollbar Background */
::-webkit-scrollbar {
    width: 12px;
    background-color: #212121;
    transition: all 250 ease;
}

/*Scrollbar button*/
::-webkit-scrollbar-thumb {
    background-color: #4db6ac;

}

/* Tabs Color Materialize Overwrite */
/*Black color to the text*/
.tabs .tab a {
    color: #eee;
}

/*Text color on hover*/
.tabs .tab a:hover {
    background-color: #000;
    color: #eee;
}

/*Background and text color when a tab is active*/
.tabs .tab a.active {
    background-color: #212121;
    color: #eee;
}

.tabs .tab a:focus.active {
    color: #26a69a;
    /*Custom Text Color While Active*/
    background-color: #000;
    /*Custom Background Color While Active*/
}

/*Color of underline*/
.tabs .indicator {
    background-color: #4db6ac;
}

/* Round edit buttons in table*/
table .btn-small {
    border-radius: 10pt;
}

#btnCreateEntry {
    border-radius: 10pt;
}

/*Intermediate sums*/
.gebühr {
    border: 2pt;
    border-style: solid;
    border-color: #4db6ac;
    background-color: #eeeeee;
    padding: 10pt;
    max-width: 100pt;
    font-weight: bold;
}

/*Final sums of category*/
.final-gebühr {
    border: 2pt;
    border-style: solid;
    border-color: #644d6c;
    background-color: #eeeeee;
    padding: 10pt;
    max-width: 100pt;
    font-weight: bold;
}

.input-short {
    max-width: 100pt;
}

.div-border .input-readonly {
    border: 1pt;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #eeeeee;
}

.underline-text-teal {
    border-bottom: 2pt;
    border-bottom-style: solid;
    border-bottom-color: #4db6ac;
}

.div-border {
    border: 1pt;
    border-style: solid;
    border-color: #e0e0e0;
    padding: 10pt;
}

#bruttoBrauchwasser {
    border: 1pt;
    border-style: solid;
    border-color: #4db6ac;
}

.collapseArrow {
    float: right;
}

/* Labels for Floating Action Button */
.mobile-fab-tip {
    position: fixed;
    right: 60pt;
    padding: 0pt 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 5pt;
    color: #FFF;
    width: auto;
}

/* Floating accessory buttons of the main floating button */
.floating-acc-btn {
    background-color: #644d6c;
}